@import 'src/styles/base/mixins';
@import 'src/styles/base/colors';
@import 'src/styles/base/fonts';

.heroList {
    display: grid;
    gap: 16px;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);

    @include small {
        grid-template-columns: repeat(auto-fill, minmax(189px, 1fr));
    }


}