@import 'src/styles/base/colors';
@import 'src/styles/base/mixins';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $black;
    padding: 16px;
    
    @include small {
        padding: 16px 48px;
    }

}