@import 'src/styles/base/mixins';
@import 'src/styles/base/colors';
@import 'src/styles/base/fonts';

.banner {
    display: flex;
    justify-content: center;
    background: $black;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 96%, 95% 100%, 0 100%);

    @include sm {
        clip-path: polygon(0 0, 100% 0, 100% 93%, 96% 100%, 0 100%);
    }

    @include md {
        clip-path: polygon(0 0, 100% 0, 100% 92%, 97% 100%, 0 100%);
    }

    @include xl {
        clip-path: polygon(0 0, 100% 0, 100% 92%, 98% 100%, 0 100%);
    }

    &__content {
        display: flex;
        width: 100%;
        flex-direction: column;

        @include sm {
            flex-direction: row;
        }

        @include xl {
            width: 65%;
        }
    }

    &__thumWrapper{
        min-height: 398px;

        @include sm {
            flex: 1;
            min-height: 278px;
            max-width: 320px;
        }
    
        @include xl {
            height: 320px;
        }
    }

    &__thumbnail {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__contentDescription {
        padding: 24px 16px 48px 16px;
        background-color: $black;

        @include sm {
            padding: 48px;
            flex: 2;
        }

        @include md {
            padding: 48px;
            flex: 2;
        }

        @include xl {
            padding: 48px 0 48px 48px;
        }
    }

    &__contentTitle {
        display: flex;
        justify-content: space-between;
        padding-bottom: 24px;
    }

    &__title {
        @include font ($white, $font-size-xl, 700);
        text-transform: uppercase;
    }

    &__description {
        @include font ($white, $font-size-m);
        line-height: 18.75px;
    }
    
}
