@import 'src/styles/base/mixins';
@import 'src/styles/base/colors';
@import 'src/styles/base/fonts';

.favoritesCounter {
    display: flex;

    &__counter {
        color: $white;
        margin-left: 8px;
        margin-top: 4px;

        @include font ($white, $font-size-m)
    }

    &__icon {
        cursor: pointer;
    }
}